<br><br><br>
<div class="container col-lg-6">
    <div class="card" style="width: 35rem; height: 12rem; background-color: #57E6B2;">
        <div class="row">
            <div class="col-lg-6">
                <br>
                <img src="/img/program.png" class="d-block mx-auto w-50">
            </div>
        
            <div class="col-lg-6">
                <div class="card-block">
                    <br><br><br>
                    <h4>Bienvenid@ {{user.Usuario}}</h4>
                    <h6>Nombre: {{user.Nombre}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>