<div class="container pt-4">
    <div class="row">
        <div class="card col-lg-6 offset-lg-3 pt-2 mb-4" style="height: 9rem; background-color: #57E6B2;">
            <table>
                <td class="col-6">
                    <img src="/img/program.png" class="d-block mx-auto w-50">
                </td>

                <td class="col-6">
                    <h4>Bienvenid@ {{user.Usuario}}</h4>
                    <h6>Nombre: {{user.Nombre}}</h6>
                </td>
            </table>
        </div>
    </div>
</div>