<br><br><br>
<div class="container">
    <div class="row">
        <div class="card col-lg-8 offset-lg-2 pt-2 mb-4" style="height: 12rem; background-color: #57E6B2;">
            <table>
                <td class="col-3">
                    <img src="/img/program.png" class="d-block mx-auto w-50">
                </td>

                <td class="col-5">
                    <h4>Bienvenid@ {{user.Usuario}}</h4>
                    <h6>Nombre: {{user.Nombre}}</h6>
                </td>
            </table>
        </div>
    </div>
</div>



{{!-- <br><br><br>
<div class="container offset-lg-2">
    <div class="card" style="width: 35rem; height: 12rem; background-color: #57E6B2;">
        <div class="row">
            <div class="col-lg-6">
                <br>
                <img src="/img/program.png" class="d-block mx-auto w-50">
            </div>
        
            <div class="col-lg-6">
                <div class="card-block">
                    <br><br><br>
                    <h4>Bienvenid@ {{user.Usuario}}</h4>
                    <h6>Nombre: {{user.Nombre}}</h6>
                </div>
            </div>
        </div>
    </div>
</div> --}}