.btn-b{
    background-color: #FF937A ;
    color: white;
}

.btn-b:hover{
    background-color: #ffbfb1;
    color: white;
}

.nav-m{
    background-color: #E67358;
}

body{
    background: #f5f6fa;
}

#main img{
    max-height: 91vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

