<nav class="navbar navbar-expand-lg navbar-dark nav-m">
  <div class="container">
    <a class="navbar-brand" href="/">Comunidad de Programadores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {{#if user}} 
                 <li class="nav-item active">
                    <a class="nav-link" href="/profile">Inicio<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/vistas">Mis Preguntas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/vistas/resp">Mis Respuestas</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                        Agregar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/vistas/preguntas">Pregunta</a>
                        <a class="dropdown-item" href="/vistas/respuestas">Respuesta</a>
                    </div>
                </li>

                <li>
                    <a class="btn btn-danger" href="/logout">Cerrar Sesión</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vistas/comunidad">Comunidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrar">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Iniciar Sesión</a>
                </li>
            {{/if}}
        </ul>
    </div>
  </div>
</nav>