<section id="Imagen">
    <div class="container-fluid">
        <div class="row">
          
            <div class="col-lg-6 col-12 pt-4 pb-4">
                <br><br>
                <h1>Bienvenidos a CoPro</h1>
                <p>Registra tus datos y se parte de nuestra Comunidad de Programadores.</p>
            
                <form action="/registrar" method="POST" class="contenedorlogin">
                    <div class="form-group">
                        <input type="text" name="Nombre" placeholder="Nombre completo" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" name="Usuario" placeholder="Usuario" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="password" name="Contrasena" placeholder="Contraseña" class="form-control">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-b btn-block mb-4">Registrarme</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 col-12 pl-0 pr-0">
                <div class="contenedorimagen">
                    <img src="img/portada.jpg">
                </div>
             </div>

        </div>
    </div>
</section>
